*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
.vscode
_posts
images/copied_from_nb
settings.ini
Gemfile.lock
__pycache__
